﻿html {
    line-height: 1.15;
}
body {
    margin: 0;
}
main {
    display: block;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
pre {
    font-family: monospace,  monospace;
    font-display: auto;
    font-size: 1em;
}
a {
    background-color: transparent;
}
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}
b, strong {
    font-weight: bolder;
}
code, kbd, samp {
    font-family: monospace,  monospace;
    font-display: auto;
    font-size: 1em;
}
small {
    font-size: 80%}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
img {
    border-style: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-display: auto;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button, input {
    overflow: visible;
}
button, select {
    text-transform: none;
}
button, [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}
fieldset {
    padding: 0.35em 0.75em 0.625em;
}
legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}
progress {
    vertical-align: baseline;
}
textarea {
    overflow: auto;
}
[type="checkbox"], [type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
    height: auto;
}
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
details {
    display: block;
}
summary {
    display: list-item;
}
template {
    display: none;
}
[hidden] {
    display: none;
}
code[class*="language-"], pre[class*="language-"] {
    color: white;
    background: none;
    font-family: Consolas,  Monaco,  'Andale Mono',  'Ubuntu Mono',  monospace;
    font-size: 1em;
    text-align: left;
    text-shadow: 0 -.1em .2em black;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
pre[class*="language-"], :not(pre)>code[class*="language-"] {
    background: #141414;
}
pre[class*="language-"] {
    border-radius: .5em;
    border: 0.3em solid #545454;
    box-shadow: 1px 1px .5em black inset;
    margin: .5em 0;
    overflow: auto;
    padding: 1em;
}
pre[class*="language-"]::-moz-selection {
    background: #27292a;
}
pre[class*="language-"]::selection {
    background: #27292a;
}
pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection, code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: rgba(237, 237, 237, 0.15);
}
pre[class*="language-"]::selection, pre[class*="language-"] ::selection, code[class*="language-"]::selection, code[class*="language-"] ::selection {
    text-shadow: none;
    background: rgba(237, 237, 237, 0.15);
}
:not(pre)>code[class*="language-"] {
    border-radius: .3em;
    border: 0.13em solid #545454;
    box-shadow: 1px 1px .3em -.1em black inset;
    padding: .15em .2em .05em;
    white-space: normal;
}
.token.comment, .token.prolog, .token.doctype, .token.cdata {
    color: #787878;
}
.token.punctuation {
    opacity: .7;
}
.token.namespace {
    opacity: .7;
}
.token.tag, .token.boolean, .token.number, .token.deleted {
    color: #cf694a;
}
.token.keyword, .token.property, .token.selector, .token.constant, .token.symbol, .token.builtin {
    color: #f9ee9a;
}
.token.attr-name, .token.attr-value, .token.string, .token.char, .token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string, .token.variable, .token.inserted {
    color: #919e6b;
}
.token.atrule {
    color: #7386a5;
}
.token.regex, .token.important {
    color: #e9c163;
}
.token.important, .token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}
.token.entity {
    cursor: help;
}
pre[data-line] {
    padding: 1em 0 1em 3em;
    position: relative;
}
.language-markup .token.tag, .language-markup .token.attr-name, .language-markup .token.punctuation {
    color: #ad895c;
}
.token {
    position: relative;
    z-index: 1;
}
.line-highlight {
    background: rgba(84, 84, 84, 0.25);
    background: linear-gradient(to right,  rgba(84, 84, 84, 0.1) 70%,  rgba(84, 84, 84, 0));
    border-bottom: 1px dashed #545454;
    border-top: 1px dashed #545454;
    left: 0;
    line-height: inherit;
    margin-top: 0.75em;
    padding: inherit 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    white-space: pre;
    z-index: 0;
}
.line-highlight:before, .line-highlight[data-end]:after {
    background-color: #8794a6;
    border-radius: 999px;
    box-shadow: 0 1px white;
    color: #f5f2f0;
    content: attr(data-start);
    font: bold 65%/1.5 sans-serif;
    left: .6em;
    min-width: 1em;
    padding: 0 .5em;
    position: absolute;
    text-align: center;
    text-shadow: none;
    top: .4em;
    vertical-align: .3em;
}
.line-highlight[data-end]:after {
    bottom: .4em;
    content: attr(data-end);
    top: auto;
}
pre[data-line] {
    position: relative;
    padding: 1em 0 1em 3em;
}
.line-highlight {
    position: absolute;
    left: 0;
    right: 0;
    padding: inherit 0;
    margin-top: 1em;
    background: rgba(153, 122, 102, 0.08);
    background: linear-gradient(to right,  rgba(153, 122, 102, 0.1) 70%,  rgba(153, 122, 102, 0));
    pointer-events: none;
    line-height: inherit;
    white-space: pre;
}
@media print {
    .line-highlight {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}
}.line-highlight:before, .line-highlight[data-end]:after {
    content: attr(data-start);
    position: absolute;
    top: .4em;
    left: .6em;
    min-width: 1em;
    padding: 0 .5em;
    background-color: rgba(153, 122, 102, 0.4);
    color: #f5f2f0;
    font: bold 65%/1.5 sans-serif;
    text-align: center;
    vertical-align: .3em;
    border-radius: 999px;
    text-shadow: none;
    box-shadow: 0 1px white;
}
.line-highlight[data-end]:after {
    content: attr(data-end);
    top: auto;
    bottom: .4em;
}
.line-numbers .line-highlight:before, .line-numbers .line-highlight:after {
    content: none;
}
pre[id].linkable-line-numbers span.line-numbers-rows {
    pointer-events: all;
}
pre[id].linkable-line-numbers span.line-numbers-rows>span:before {
    cursor: pointer;
}
pre[id].linkable-line-numbers span.line-numbers-rows>span:hover:before {
    background-color: rgba(128, 128, 128, 0.2);
}
pre[class*="language-"].line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber;
}
pre[class*="language-"].line-numbers>code {
    position: relative;
    white-space: inherit;
}
.line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8em;
    width: 3em;
    letter-spacing: -1px;
    border-right: 1px solid #999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.line-numbers-rows>span {
    display: block;
    counter-increment: linenumber;
}
.line-numbers-rows>span:before {
    content: counter(linenumber);
    color: #999;
    display: block;
    padding-right: 0.8em;
    text-align: right;
}
div.code-toolbar {
    position: relative;
}
div.code-toolbar>.toolbar {
    position: absolute;
    top: .3em;
    right: .2em;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}
div.code-toolbar:hover>.toolbar {
    opacity: 1;
}
div.code-toolbar:focus-within>.toolbar {
    opacity: 1;
}
div.code-toolbar>.toolbar .toolbar-item {
    display: inline-block;
}
div.code-toolbar>.toolbar a {
    cursor: pointer;
}
div.code-toolbar>.toolbar button {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
div.code-toolbar>.toolbar a, div.code-toolbar>.toolbar button, div.code-toolbar>.toolbar span {
    color: #bbb;
    font-size: .8em;
    padding: 0 .5em;
    background: #f5f2f0;
    background: rgba(224, 224, 224, 0.2);
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
    border-radius: .5em;
}
div.code-toolbar>.toolbar a:hover, div.code-toolbar>.toolbar a:focus, div.code-toolbar>.toolbar button:hover, div.code-toolbar>.toolbar button:focus, div.code-toolbar>.toolbar span:hover, div.code-toolbar>.toolbar span:focus {
    color: inherit;
    text-decoration: none;
}
:root {
    --phoneWidth:  (max-width: 684px);
    --tabletWidth:  (max-width: 900px);
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-display: auto;
    font-weight: 400;
    src: url("assets/fonts/Inter-Regular.woff2") format("woff2"), url("assets/fonts/Inter-Regular.woff") format("woff");
}
@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-display: auto;
    font-weight: 400;
    src: url("assets/fonts/Inter-Italic.woff2") format("woff2"), url("assets/fonts/Inter-Italic.woff") format("woff");
}
@font-face {
    font-family: 'IBMPlexSans';
    font-style: normal;
    font-display: auto;
    font-weight: 400;
    src: url("assets/fonts/IBMPlexSans-Regular.ttf") format("truetype");
}
@font-face {
    font-family: 'IBMPlexSans';
    font-style: italic;
    font-display: auto;
    font-weight: 400;
    src: url("assets/fonts/IBMPlexSans-Italic.ttf") format("truetype");
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-display: auto;
    font-weight: 600;
    src: url("assets/fonts/Inter-Medium.woff2") format("woff2"), url("assets/fonts/Inter-Medium.woff") format("woff");
}
@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-display: auto;
    font-weight: 600;
    src: url("assets/fonts/Inter-MediumItalic.woff2") format("woff2"), url("assets/fonts/Inter-MediumItalic.woff") format("woff");
}
@font-face {
    font-family: 'IBMPlexSans';
    font-style: normal;
    font-display: auto;
    font-weight: 500;
    src: url("assets/fonts/IBMPlexSans-Medium.ttf") format("truetype");
}
@font-face {
    font-family: 'IBMPlexSans';
    font-style: italic;
    font-display: auto;
    font-weight: 500;
    src: url("assets/fonts/IBMPlexSans-MediumItalic.ttf") format("truetype");
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-display: auto;
    font-weight: 800;
    src: url("assets/fonts/Inter-Bold.woff2") format("woff2"), url("assets/fonts/Inter-Bold.woff") format("woff");
}
@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-display: auto;
    font-weight: 800;
    src: url("assets/fonts/Inter-BoldItalic.woff2") format("woff2"), url("assets/fonts/Inter-BoldItalic.woff") format("woff");
}
@font-face {
    font-family: 'IBMPlexSans';
    font-style: normal;
    font-display: auto;
    font-weight: 700;
    src: url("assets/fonts/IBMPlexSans-Bold.ttf") format("truetype");
}
@font-face {
    font-family: 'IBMPlexSans';
    font-style: italic;
    font-display: auto;
    font-weight: 700;
    src: url("assets/fonts/IBMPlexSans-BoldItalic.ttf") format("truetype");
}
.button-container {
    display: table;
    margin-left: auto;
    margin-right: auto;
}
button, .button, a.button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 18px;
    margin-bottom: 5px;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid transparent;
    appearance: none;
    cursor: pointer;
    outline: none;
    background: #fafafa;
}
button,  .button,  a.button {
    background: #1b1c1d;
    color: inherit;
}
button.outline, .button.outline, a.button.outline {
    background: transparent;
    box-shadow: none;
    padding: 8px 18px;
    border-color: #eaeaea;
}
button.outline,  .button.outline,  a.button.outline {
    border-color: #3b3d42;
    color: inherit;
}
button.outline :hover, .button.outline :hover, a.button.outline :hover {
    transform: none;
    box-shadow: none;
}
button.primary, .button.primary, a.button.primary {
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
button.primary:hover, .button.primary:hover, a.button.primary:hover {
    box-shadow: 0 2px 6px rgba(50, 50, 93, 0.21), 0 1px 3px rgba(0, 0, 0, 0.08);
}
button.link, .button.link, a.button.link {
    background: none;
    font-size: 1rem;
}
button.small, .button.small, a.button.small {
    font-size: .8rem;
}
button.wide, .button.wide, a.button.wide {
    min-width: 200px;
    padding: 14px 24px;
}
.code-toolbar {
    margin-bottom: 20px;
}
.code-toolbar .toolbar-item a {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 3px 8px;
    margin-bottom: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid transparent;
    appearance: none;
    cursor: pointer;
    outline: none;
    background: #eaeaea;
}
.code-toolbar .toolbar-item a {
    background: #3b3d42;
    color: inherit;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px;
    background: #fafafa;
}
.header {
    background: #1b1c1d;
}
.header__right {
    display: flex;
    flex-direction: row;
    align-items: center;
}
@media (max-width: 684px) {
    .header__right {
        flex-direction: row-reverse;
    }
}
.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 760px;
    max-width: 100%}
.header__inner a {
    text-decoration: none;
}
.theme-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    cursor: pointer;
}
.theme-toggler {
    fill: currentColor;
}
.not-selectable {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-display: auto;
}
.logo img {
    height: 44px;
}
.logo__mark {
    font-size: 1.25rem;
    margin-right: 5px;
}
.logo__text {
    font-size: 1.25rem;
}
@keyframes cursor {
    0% {
    opacity: 0;
}
50% {
    opacity: 1;
}
100% {
    opacity: 0;
}
}.menu {
    z-index: 9999;
    background: #fafafa;
}
.menu {
    background: #1b1c1d;
}
@media (max-width: 684px) {
    .menu {
    position: absolute;
    top: 50px;
    right: 0;
    border: none;
    margin: 0;
    padding: 10px;
}
}.menu__inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    font-size: 1rem;
    list-style: none;
}
.menu__inner li {
    margin: 0 12px;
}
@media (max-width: 684px) {
    .menu__inner {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}
.menu__inner li {
    margin: 0;
    padding: 5px;
}
}.menu-trigger {
    width: 24px;
    height: 24px;
    fill: currentColor;
    margin-left: 10px;
    cursor: pointer;
    display: none;
}
@media (max-width: 684px) {
    .menu-trigger {
    display: block;
}
}.menu a {
    display: inline-block;
    margin-right: 15px;
    text-decoration: none;
}
.menu a:hover {
    text-decoration: underline;
}
.menu a:last-of-type {
    margin-right: 0;
}
.submenu {
    background: #fafafa;
}
.submenu {
    background: #1b1c1d;
}
.submenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.submenu li a, .submenu .dropbtn {
    display: inline-block;
    text-decoration: none;
}
.submenu li.dropdown {
    display: inline-block;
}
.submenu .dropdown-content {
    display: none;
    position: absolute;
    background: #1b1c1d;
}
.submenu .dropdown-content {
    background: #1b1c1d;
}
.submenu .dropdown-content a {
    padding: 12px 20px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.submenu .dropdown-content a:hover {
    background: #1b1c1d;
}
.submenu .dropdown-content a:hover {
    background: #1b1c1d;
}
.submenu .dropdown:hover .dropdown-content {
    display: block;
}
html {
    box-sizing: border-box;
    line-height: 1.6;
    letter-spacing: 0.06em;
    scroll-behavior: smooth;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Palatino",  "Calendas Plus",  "Crimson Text",  "Hoefler Text",  "Georgia",  IBMPlexSans,  Inter,  -apple-system,  BlinkMacSystemFont,  "Roboto",  "Segoe UI",  Helvetica,  Arial,  Icon,  sans-serif;
    font-display: auto;
    font-size: 1rem;
    line-height: 1.54;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga",  "tnum",  "case",  "calt",  "zero",  "ss01",  "locl";
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #fff;
    color: #222;
}
@media (max-width: 684px) {
    body {
        font-size: 1rem;
    }
}
body {
    background-color: #232425;
    color: #a9a9b3;
}
h2, h3, h4, h5, h6 {
    display: flex;
    align-items: center;
    line-height: 1.3;
}
h1 {
    font-size: 2.625rem;
}
h2 {
    font-size: 1.625rem;
    margin-top: 2.5em;
}
h3 {
    font-size: 1.375rem;
}
h4 {
    font-size: 1.125rem;
}
@media (max-width: 684px) {
    h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.4rem;
}
h3 {
    font-size: 1.15rem;
}
h4 {
    font-size: 1.125rem;
}
}a {
    color: inherit;
}
img {
    display: block;
    max-width: 100%}
img.left {
    margin-right: auto;
}
img.center {
    margin-left: auto;
    margin-right: auto;
}
img.right {
    margin-left: auto;
}
img.circle {
    border-radius: 50%;
    max-width: 25%;
    margin: auto;
}
figure {
    display: table;
    max-width: 100%;
    margin: 25px 0;
}
figure.left {
    margin-right: auto;
}
figure.left-floated {
    margin-right: auto;
    float: left;
}
figure.left-floated img {
    margin: 20px 20px 20px 0;
}
figure.center {
    margin-left: auto;
    margin-right: auto;
}
figure.right {
    margin-left: auto;
}
figure.right-floated {
    margin-left: auto;
    float: right;
}
figure.right-floated img {
    margin: 20px 0 20px 20px;
}
figure.rounded img {
    border-radius: 50%}
figure figcaption {
    font-size: 14px;
    margin-top: 5px;
    opacity: 0.8;
}
figure figcaption.left {
    text-align: left;
}
figure figcaption.center {
    text-align: center;
}
figure figcaption.right {
    text-align: right;
}
em, i, strong {
    color: black;
}
em,  i,  strong {
    color: white;
}
code {
    font-family: Consolas,  Monaco,  Andale Mono,  Ubuntu Mono,  monospace;
    font-display: auto;
    font-feature-settings: normal;
    padding: 1px 6px;
    margin: 0 2px;
    border-radius: 5px;
    font-size: 0.95rem;
    background: #eaeaea;
}
code {
    background: #3b3d42;
}
pre {
    padding: 10px 10px 10px 20px;
    border-radius: 8px;
    font-size: 0.95rem;
    overflow: auto;
}
 pre {
    background-color: #3b3d42;
}
@media (max-width: 684px) {
    pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
}pre code {
    background: none !important;
    margin: 0;
    padding: 0;
    font-size: inherit;
    color: #ccc;
}
pre code {
    color: inherit;
}
blockquote {
    border-left: 3px solid #3eb0ef;
    margin: 40px;
    padding: 10px 20px;
}
@media (max-width: 684px) {
    blockquote {
    margin: 10px;
    padding: 10px;
}
}blockquote:before {
    content: "”";
    font-family: Georgia,  serif;
    font-display: auto;
    font-size: 3.875rem;
    position: absolute;
    left: -40px;
    top: -20px;
}
blockquote p:first-of-type {
    margin-top: 0;
}
blockquote p:last-of-type {
    margin-bottom: 0;
}
ul, ol {
    margin-left: 40px;
    padding: 0;
}
@media (max-width: 684px) {
    ul, ol {
    margin-left: 20px;
}
}ol ol {
    list-style-type: lower-alpha;
}
.container {
    flex: 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.content {
    display: flex;
    flex-direction: column;
    flex: 1 auto;
    align-items: center;
    justify-content: center;
    margin: 0;
}
@media (max-width: 684px) {
    .content {
    margin-top: 0;
}
}hr {
    width: 100%;
    border: none;
    height: 1px;
    background: #dcdcdc;
}
 hr {
    background: #4e4e57;
}
.hidden {
    display: none;
}
@media (max-width: 684px) {
    .hide-on-phone {
    display: none;
}
}@media (max-width: 900px) {
    .hide-on-tablet {
    display: none;
}
}.screen-reader-text {
    border: 0;
    clip: rect(1px,  1px,  1px,  1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}
.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    width: auto;
    top: 5px;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    z-index: 100000;
}
.background-image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}
.highlight {
    margin: 30px auto;
}
.posts {
    width: 100%;
    max-width: 800px;
    text-align: left;
    padding: 20px;
    margin: 20px auto;
}
@media (max-width: 900px) {
    .posts {
    max-width: 660px;
}
}.posts:not(:last-of-type) {
    border-bottom: 1px solid #dcdcdc;
}
.posts:not(:last-of-type) {
    border-bottom: 1px solid #4e4e57;
}
.posts-group {
    display: flex;
    margin-bottom: 1.9em;
    line-height: normal;
}
@media (max-width: 900px) {
    .posts-group {
    display: block;
}
}.posts-list {
    flex-grow: 1;
    margin: 0;
    padding: 0;
    list-style: none;
}
.posts .post-title {
    font-size: 1rem;
    margin: 5px 0 5px 0;
}
.posts .post-year {
    padding-top: 6px;
    margin-right: 1.8em;
    font-size: 1.6em;
    opacity: .6;
}
@media (max-width: 900px) {
    .posts .post-year {
    margin: -6px 0 4px;
}
}.posts .post-item {
    border-bottom: 1px grey dashed;
}
.posts .post-item a {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 12px 0;
    text-decoration: none;
}
.posts .post-day {
    flex-shrink: 0;
    margin-left: 1em;
    opacity: .6;
}
.post .post-quote {
    text-align: right;
    margin-right: 15px;
}
.post {
    width: 100%;
    max-width: 800px;
    text-align: left;
    padding: 20px;
    margin: 0px auto;
}
@media (max-width: 900px) {
    .post {
    max-width: 600px;
}
}.post-date:after {
    content: '—'}
.post-title {
    font-size: 2.625rem;
    margin: 0 0 20px;
}
@media (max-width: 684px) {
    .post-title {
    font-size: 2rem;
}
}.post-title a {
    text-decoration: none;
}
.post-tags {
    display: block;
    margin-bottom: 20px;
    font-size: 1rem;
    opacity: 0.5;
}
.post-tags a {
    text-decoration: none;
}
.post-content {
    margin-top: 30px;
}
.post-cover {
    border-radius: 8px;
    margin: 40px -50px;
    width: 860px;
    max-width: 860px;
    overflow: hidden;
}
@media (max-width: 900px) {
    .post-cover {
    margin: 20px 0;
    width: 100%}
}.post-excerpt {
    color: grey;
    font-style: italic;
}
.post-info {
    margin-top: 30px;
    font-size: 0.8rem;
    line-height: normal;
    opacity: .6;
}
.post-info p {
    margin: 0.8em 0;
}
.post-info a:hover {
    border-bottom: 1px solid white;
}
.post-info svg {
    margin-right: 0.8em;
}
.post-info .tag {
    margin-right: 0.5em;
}
.post-info .tag::before {
    content: "#"}
.post-info .feather {
    display: inline-block;
    vertical-align: -.125em;
    width: 1em;
    height: 1em;
}
.post-audio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.post-audio audio {
    width: 90%}
.post .flag {
    border-radius: 50%;
    margin: 0 5px;
}
.pagination {
    margin-top: 20px;
}
.pagination__title {
    display: flex;
    text-align: center;
    position: relative;
    margin: 20px 0;
}
.pagination__title-h {
    text-align: center;
    margin: 0 auto;
    padding: 5px 10px;
    font-size: 0.8rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1em;
    z-index: 1;
    background: #fff;
    color: #999;
}
.pagination__title-h {
    background: #232425;
    color: #b3b3bd;
}
.pagination__title hr {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 15px;
    z-index: 0;
}
.pagination__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination__buttons a {
    text-decoration: none;
    font-weight: bold;
}
.button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 8px;
    max-width: 40%;
    padding: 0;
    cursor: pointer;
    appearance: none;
    background: #eaeaea;
}
.button {
    background: #3b3d42;
}
.button+.button {
    margin-left: 10px;
}
.button a {
    display: flex;
    padding: 8px 16px;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.button__text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.button.next .button__icon {
    margin-left: 8px;
}
.button.previous .button__icon {
    margin-right: 8px;
}
.footer {
    padding: 40px 20px;
    flex-grow: 0;
    color: #999;
}
.footer__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 760px;
    max-width: 100%}
@media (max-width: 900px) {
    .footer__inner {
    flex-direction: column;
}
}.footer__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    color: #999;
}
@media (max-width: 900px) {
    .footer__content {
    flex-direction: column;
    margin-top: 10px;
}
}.footer__content>*:not(:last-child)::after {
    content: "•";
    padding: 0 5px;
}
@media (max-width: 900px) {
    .footer__content>*: not(:last-child)::after {
    content: "";
    padding: 0;
}
}.footer__content>*:last-child {
    padding: 0 0px;
}
@media (max-width: 900px) {
    .footer__content>*: last-child {
    padding: 0;
}
}.sharing-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sharing-buttons .resp-sharing-button__icon, .sharing-buttons .resp-sharing-button__link {
    display: inline-block;
}
.sharing-buttons .resp-sharing-button__link {
    text-decoration: none;
    margin: 0.5em;
}
.sharing-buttons .resp-sharing-button {
    border-radius: 5px;
    transition: 25ms ease-out;
    padding: 0.5em 0.75em;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.sharing-buttons .resp-sharing-button__icon svg {
    width: 1em;
    height: 1em;
    margin-right: 0.4em;
    vertical-align: top;
}
.sharing-buttons .resp-sharing-button--small svg {
    margin: 0;
    vertical-align: middle;
}
.post-content table {
    border-collapse: collapse;
    margin: 25px auto;
    font-size: 0.9em;
    min-width: 400px;
    max-width: 100%}
.post-content table th, .post-content table td {
    padding: 12px 15px;
    border: 1px solid #dcdcdc;
}
 .post-content table th,  .post-content table td {
    border: 1px solid #4e4e57;
}
.post-content table thead tr {
    text-align: left;
    background-color: #dcdcdc;
    color: #222;
}
 .post-content table thead tr {
    background-color: #4e4e57;
    color: #a9a9b3;
}
.post-content table tbody tr {
    border: 1px solid #dcdcdc;
}
.post-content table tbody tr {
    border: 1px solid #4e4e57;
}
.btn-404 svg {
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
}
.btn-404 a {
    margin: 0 10px;
}